
body, div, p, ul, ol, h1, h2, h3, h4, h5, h6, article, section, aside, nav{
  margin: 0;
  padding: 0;
}
ol{
    list-style: none;
}

#viewport{
    position: relative;
    width: 100%;
}
#viewport >section{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
#viewport >section:active{
    display: block;
}

#chat >div{
    postion: absolute;
    bottom: 0;
    margin: 9px auto 0;
}
#chat button[name=send]{
    margin-bottom: 9px;
}
